@model Lab28Tom.Models.LFG

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>LFG</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Gamertag" class="control-label"></label>
                <input asp-for="Gamertag" class="form-control" />
                <span asp-validation-for="Gamertag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinyClass" class="control-label"></label>
                <input asp-for="DestinyClass" class="form-control" />
                <span asp-validation-for="DestinyClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request" class="control-label"></label>
                <input asp-for="Request" class="form-control" />
                <span asp-validation-for="Request" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
