body {
    background-color: #4A4E4D;
    color: #3DA4AB;
}

.guardian-title {
    color: #0E9AA7;
    text-align: center;
}

.guardian-info {
    color: #0E9AA7;
}

.home-links {
    color: #223549;
}
