body {
}

.jumbotron {
    background-color: azure;
}
.Img1 {
    background-color: lightpink;
    height: 30px;
}
.Img2 {
    background-color: aquamarine;
    height: 30px;
}
.Img3 {
    background-color: forestgreen;
    height: 30px;
}
