@{
    Layout = "_Layout";
}


<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 Img1">
            I have no idea.
        </div>

        <div class="col-md-3 col-md-offset-1 Img2">
            Why the style sheet is not being detected.
        </div>
        <div class="col-md-3 col-md-offset-1 Img3">
            But the bootstrap formatting is working.
        </div>
    </div>
</div>